@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @Html.Partial("~/Views/Shared/PartialViews/_PartialHeader.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/Shared/PartialViews/_PartialFooter.cshtml")


</body>
</html>